@font-face {
	font-family: 'xinwei';
	src:url('../font/STXINWEI.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shufa';
	src: url('../font/禹卫书法行书简体.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.admin-wrapper .container {
	position: relative;
	padding: 20px;
}


.user-box-top {
	width: 300px;
	margin: 20px auto 60px;
	cursor: default;
}

.user-box-top img {
	width: 50px;
}

.user-box-top h1 {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	color:  #61A3E1;
}

.admin-modify {
	position: absolute;
	right: 0;
	color: #888;
}

.admin-modify .psbtn,
.return-btn{
	padding: 5px 10px;
	margin-left: 20px;
	margin-right: 20px;
	color: #61a3e1 !important;
	border:1px solid #61a3e1;
	cursor: pointer;
}

.return-btn {
	position: absolute;
	/*margin: 50px 0;*/
	bottom: -19px;
    left: 6%;
}
.admin-modify .exit {
	cursor: pointer;
}
.user-sidenav {
	width: 15%;
	text-align: center;
}

.user-sidenav ul li {
	height: 3em;
	line-height: 3em;
	padding: 0 35px;
	margin: 2px;
	font-size: 1.15em;
	cursor: pointer;
}

.user-box {
	/*display: none;*/
	position: absolute;
	right: 0;
	top: 150px;
	width: 80%;

}

@media (max-width: 992px) {
  .user-sidenav ul li{
  	height: 2.5em;
  	line-height: 2.5em;
  	padding: 0 10px;
  }
  .user-box {
	margin: 0;
  }
}

.user-sidenav li:hover {
	color: #eb4f38;
}

/*管理员界面*/
.admin-wrapper .container,{
	position: relative;
}

.admin-top {
	position: relative;
	margin-top: 20px;
	height: 46px;
}

.admin-publish-article,
.admin-publish-classes,
.admin-publish-textbook,
.admin-publish-game {
	position: absolute;
	right: 50px;
	top: 10px;
	padding: 6px 8px;
	border: 1px solid #61a3e1;
	color: #61a3e1 !important;
	margin-right: 20px;

}
.admin-table {
	height: 400px;
}

.admin-table table {
	width: 100%;
	/*height: 940px;*/
	margin-top: 20px;
	table-layout:fixed;
}

.admin-table th {
	height: 35px;
	line-height: 35px;
	font-weight: normal;
	/*border: 1px solid #cecece;*/
	background-color: #EEEEEE;
}

.admin-table span {
	display: inline-block;
} 

.admin-table .admin-th-select {
	width: 8%;
}
.admin-table .admin-th-id {
	width: 5%;
}

.admin-info-table .admin-th-pageview {
	width: 7.5%;
}

.admin-info-table .admin-th-title {
	width: 42%;
	text-align: center;
}


.admin-table .admin-th-phone {
	width: 20%;
}

.admin-table .admin-th-email {
	width: 25%;
}
.admin-table th,.admin-table td {
	padding: 2px 8px;
	height: 3em;
	line-height: 3em;
	overflow: hidden;
}
.admin-projects-table .admin-th-project-name {
	width: 32%;
}

.admin-info-table .admin-article-title a,
.admin-projects-table .admin-project-name a{
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


.admin-operation span{
	color: #61a3e1;
	cursor: pointer;
}

.delete-all {
	position: absolute;
	right: 170px;
	top: 27px;
	color: #61a3e1 !important;

}
.admin-article-operation a:hover {
	text-decoration: underline !important;
}

.admin-users-table,
.admin-projects-table,
.admin-info-table {
	display: none;

}

.popup-delete,
.popup-refuse {
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	box-shadow: 0 0 1px 1px #cecece;
	background-color: #fff;
	border-radius: 10px;
	z-index: 999;
}

.popup-delete {
	width: 280px;
	height: 160px;
	margin-left: -140px;
}
.popup-refuse  {
	width: 350px;
	height: 260px;
	margin-left: -150px;
}

.popup-refuse textarea {
	display: block;
	width: 80%;
	height: 30%;
	margin: 0 auto;
	margin-bottom: 25px;
	outline: none;
}

.popup-delete p {
	padding: 35px;
	text-align: center;
}

.popup-refuse p:nth-child(1) {
	padding-top: 35px;
	text-align: center;
	font-size: 15px;
}

.popup-refuse .refuse-hint {
	margin: 10px;
	font-size: 12px;
	color: #888;
	text-align: center;
}
.admin-popup .popup-select {
	width: 50%;
	margin: 0 auto;
}

.popup-select span {
	display: inline-block;
	border: 1px solid #61a3e1;
	color: #61a3e1;
	padding: 5px 8px;
	cursor: pointer;
}

.admin-management-ul li{
	display: inline-block;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #cecece;
	padding: 12px 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer; 
}

.admin-management-ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.now-li {
	border-top: 1px solid #cecece !important;
	border-left: 1px solid #cecece !important;
	border-right: 1px solid #cecece !important;
	border-bottom: 1px solid #fff !important;
}


/*发布文章表单*/
.article-publish-form {
	padding: 30px 0;
	color: #666;
}

.article-publish-box {
	padding: 5px;
}
.article-publish-form label{
	width: 50px;
	text-align: right;
	font-weight: normal;
	margin-right: 10px;
}

.article-publish-form input {
	height: 2em;
	width: 82%;
	border: 1px solid #cecece;
}

.article-publish-form input,
.article-publish-form textarea {
	padding-left: .5em;
	outline: none;
}

.article-publish-title input {
	width: 60%;	
	margin-right: 5%;
}

.article-publish-keyword input  {
	width: 50%;
	margin-right: 5%;
}

.article-publish-form textarea {
	width: 82%;
	height: 6em;
}

.article-publish-form button {
	padding: 3px 8px;
	background-color: #61a3e1;
	color: #fff !important;
}

.article-publish-btn {
	width: 300px;
	margin: 0 auto;
}

.article-publish-btn button  {
	margin: 3px;
}

.block {
	display: block;
}

.now {
	background-color: #61A3E1 !important;
	color: #fff !important;
}

.now:hover{
	color: #fff !important;
}

.star {
	display: inline-block;
	color: #eb4f38;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 1.5em;
}

.signup-wrapper {
	width: 100%;
	height: 100%;
	background: url('../images/74833f6egw1f5lnuq65rsj21kw0w07ir.jpg') center;
	background-size: cover;
}

.signup-logo {
	width: 400px;
	padding: 30px;
	margin: 0 auto;
}

.signup-logo img {
	width: 100%;
}

.signup-wrapper .container {
	padding: 10%;
}

.signup-wrapper .signup-content{
	background-color: rgba(255, 255, 255, .8);
}

.signup-box {
	padding: 50px;
}


.signup-form .base-information {
	padding: 10px;
	width: 460px;
	margin: 0 auto;
}

.submit {
	background-color: #61A3E1;
	color: #fff !important;
	border-radius: 8px;
}

.submit {
	display: block;
	margin: 30px auto 0;
	padding: 10px 30px;
}

.signup-form label{
	width: 90px;
	text-align: right;
	margin-right: 5px;
	font-weight: normal;
}

.signup-form .base-information input {
	width: 290px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #cecece;
	border-radius: 6px;
}

.modify-wrapper {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 3999;
	background-color: rgba(0, 0, 0, .5);
}

.modify-wrapper .modify-box {
	position: fixed;
	width: 500px;
	height: 320px;
	left: 50%;
	top: 50%;
	padding: 35px;
	margin: -200px 0 0 -250px ; 
	background-color: #fff;
	z-index:1000;
}

.modify-form p{
	width: 330px;
	margin: 28px auto;
}

.modify-form input{
	height: 40px;
	border: 1px solid #cecece;
	display: block;
	padding: 10px;
}

.modify-form .old-line input,
.modify-form .new-line input{
	width: 100%;
}

/*查看个人信息*/
.personal-head-portrait {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.personal-info-wrapper,
.personal-info-box {
	padding: 30px;
}

.personal-head-portrait img {
	width: 100%;
	height: 100%
}


.personal-username {
	font-size: 24px;
	font-weight: normal;
	margin: 20px 0;
}

.aligned.center {
	text-align: center;
}

.personal-name {
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.personal-email,
.personal-tel {
	padding: 8px 0;
}

.personal-info-box {
	margin: 20px;
	border: 1px solid #cecece;
	border-radius: 5px;
}

.personal-info-title {
	font-size: 17px;
}

.join-project-detail,
.team-detail {
	margin: 20px 0;
}

.join-project-detail a{
	color: #61a3e1 !important;
}

.projects-name {
	display: block;
	line-height: 30px;
}

.pagination .active{
	color: #fff !important; 
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover {
	background-color: #61a3e1;
	border-color: #61a3e1;
}


/*发布页面*/


.publish-form {
	width: 90%;
	margin: 30px 10px;
	padding: 35px;
	border: 1px solid #B3D1ED;
	box-shadow: 0 0 1px 1px #B3D1ED;
	border-radius: 15px;
}

.publish-table {
	width: 100%;
	/*table-layout:fixed;*/
}

.publish-table td {
	padding: 8px;
}

.publish-table td:nth-child(1) {
	width: 120px;
}
.radio-inline,
.checkbox-inline {
	padding-top: 0!important;
}

.form-group {
	margin: 0 !important;
}

.publish-table .line-title {
	display: inline-block;
	width: 130px;
	margin-right: 10px;
	font-size: 16px;
	color: #61a3e1;
}

.form-group {
	padding: 8px 0;
}

.title-input {
	display: inline-block !important;
	margin-top: -10px;
}

.btn-publish {
	display: block !important;
	margin: 0 auto;
	background-color: #61a3e1 !important;
	color: #fff !important;
	outline: 0;
}

.admin-th-class-theme {
	width: 25%;
}

.admin-th-class-status {
	width: 11%;
}

/**
 *查看详情页
 */
.view-form {
	width: 90%;
	margin: 30px 10px;
	padding: 35px;
	border: 1px solid #B3D1ED;
	box-shadow: 0 0 1px 1px #B3D1ED;
	border-radius: 15px;
}

.view-table {
	width: 100%;
	font-size: 16px;
	/*table-layout:fixed;*/
}
.view-table th {
	width: 18%;
}
.view-table .line-title {
	padding: 10px;
	font-size: 16px;
	color: #61a3e1;
}

.view-table td {
	width: auto;
	padding: 5px;
}

.view-table td:nth-child(1) {
	width: 120px;
}

.view-pic {
	width: 200px;
	height: 100px;
	overflow: hidden;
}

.view-logo {
	width: 60px;	
	height: 60px;
	overflow: hidden;
	display: inline-block;
}

.view-pic img,
.view-logo img {
	width: 100%;
}

.view-btn-group {
	width: 150px;
	margin: 35px auto;
}

.btn-view {
	margin: 30px 10px;
	padding: 5px;
	border: 1px solid #61a3e1;
	color: #61a3e1 !important;
	outline: 0;
}
/*添加管理员*/
.admin-add.view-table {
	width: 80%;
	margin-left: auto;
    margin-top: 100px;
}
.admin-name,
.admin-password {
	display: inline-block;
	border: 1px solid #cecece;
	padding: 6px;
}

.base-img {
	height: 500px;
	overflow: hidden;
}

.article-img {
	height: 280px;
}


.hot-pic {
	display: inline-block !important;
}

.add-public-base {
	box-sizing: border-box;
	display: block;
	width: 150px;
	margin: 10px auto;
	color: #61a3e1;
	border: 1px solid #61a3e1;
	padding: 5px 20px;
	font-size: 1.2em;
	cursor: pointer;
}