@font-face {
	font-family: 'xinwei';
	src:url('../font/STXINWEI.TTF');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shufa';
	src: url('../font/禹卫书法行书简体.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.admin-wrapper .container {
	position: relative;
	padding: 20px;
}

.game-title h1{
	font-size: 25px;
	text-align: center;
	padding-bottom: 10px;
}

.user-box-top {
	width: 300px;
	margin: 20px auto 60px;
	cursor: default;
}

.user-box-top img {
	width: 50px;
}

.user-box-top h1 {
	font-size: 30px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	color:  #61A3E1;
}

.user-sidenav {
	width: 15%;
	text-align: center;
}

.user-sidenav ul li {
	height: 3em;
	line-height: 3em;
	padding: 0 35px;
	margin: 2px;
	font-size: 1.15em;
	cursor: pointer;
}

.user-box {
	/*display: none;*/
	position: absolute;
	right: 0;
	top: 160px;
	width: 80%;
	/*margin: 0 20px;*/

}

@media (max-width: 992px) {
  .user-sidenav ul li{
  	height: 2.5em;
  	line-height: 2.5em;
  	padding: 0 10px;
  }
  .user-box {
	margin: 0;
  }
}

.user-sidenav li:hover {
	color: #eb4f38;
}

/*管理员界面*/
.admin-wrapper .container,{
	position: relative;
}

.admin-top {
	position: relative;
	margin-top: 20px;
	height: 46px;
}

.admin-publish-article,
.admin-publish-classes,
.admin-publish-textbook,
.admin-publish-game {
	position: absolute;
	right: 50px;
	top: 10px;
	padding: 6px 8px;
	border: 1px solid #61a3e1;
	color: #61a3e1 !important;
	margin-right: 20px;

}

.admin-table table {
	width: 100%;
	margin-top: 20px;
	table-layout:fixed;
}

.admin-table th {
	height: 35px;
	line-height: 35px;
	font-weight: normal;
	/*border: 1px solid #cecece;*/
	background-color: #EEEEEE;
}

.admin-table span {
	display: inline-block;
} 

.admin-table .admin-th-select {
	width: 8%;
}
.admin-table .admin-th-id {
	width: 5%;
}

.admin-info-table .admin-th-pageview {
	width: 7.5%;
}

.admin-info-table .admin-th-title {
	width: 42%;
	text-align: center;
}


.admin-table .admin-th-phone {
	width: 20%;
}

.admin-table .admin-th-email {
	width: 25%;
}
.admin-table th,.admin-table td {
	padding: 2px 8px;
	height: 3em;
	line-height: 3em;
	overflow: hidden;
}
.admin-projects-table .admin-th-project-name {
	width: 32%;
}

.admin-info-table .admin-article-title a,
.admin-projects-table .admin-project-name a{
	width: 100%;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}


.admin-operation span{
	color: #61a3e1;
	cursor: pointer;
}

.admin-article-operation a:hover {
	text-decoration: underline !important;
}

.admin-users-table,
.admin-projects-table,
.admin-info-table {
	display: none;

}

.popup-delete,
.popup-refuse {
	display: none;
	position: absolute;
	top: 40%;
	left: 50%;
	box-shadow: 0 0 1px 1px #cecece;
	background-color: #fff;
	border-radius: 10px;
	z-index: 999;
}

.popup-delete {
	width: 280px;
	height: 160px;
	margin-left: -140px;
	
}
.popup-refuse  {
	width: 350px;
	height: 260px;
	margin-left: -150px;
}

.popup-refuse textarea {
	display: block;
	width: 80%;
	height: 30%;
	margin: 0 auto;
	margin-bottom: 25px;
	outline: none;
}

.popup-delete p {
	padding: 35px;
	text-align: center;
}

.popup-refuse p:nth-child(1) {
	padding-top: 35px;
	text-align: center;
	font-size: 15px;
}

.popup-refuse .refuse-hint {
	margin: 10px;
	font-size: 12px;
	color: #888;
	text-align: center;
}
.admin-popup .popup-select {
	width: 50%;
	margin: 0 auto;
}

.popup-select span {
	display: inline-block;
	border: 1px solid #61a3e1;
	color: #61a3e1;
	padding: 5px 8px;
	cursor: pointer;
}

.admin-management-ul li{
	display: inline-block;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #cecece;
	padding: 12px 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer; 
}

.admin-management-ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.now-li {
	border-top: 1px solid #cecece !important;
	border-left: 1px solid #cecece !important;
	border-right: 1px solid #cecece !important;
	border-bottom: 1px solid #fff !important;
}


/*发布文章表单*/
.article-publish-form {
	/* width: 880px; */
	padding: 30px 0;
	color: #666;
}

.article-publish-box {
	padding: 5px;
}
.article-publish-form label{
	width: 50px;
	text-align: right;
	font-weight: normal;
	margin-right: 10px;
}

.article-publish-form input {
	height: 2em;
	/* width: 82%; */
	border: 1px solid #cecece;
}

.article-publish-form input,
.article-publish-form textarea {
	padding-left: .5em;
	outline: none;
}

.article-publish-title input {
	width: 60%;	
	margin-right: 5%;
}

.article-publish-keyword input  {
	width: 50%;
	margin-right: 5%;
}

.article-publish-form textarea {
	width: 82%;
	height: 6em;
}

.article-publish-form button {
	padding: 3px 8px;
	background-color: #61a3e1;
	color: #fff !important;
}

.article-publish-btn {
	width: 300px;
	margin: 0 auto;
}

.article-publish-btn button  {
	margin: 3px;
}

.block {
	display: block;
}

.now {
	background-color: #61A3E1 !important;
	color: #fff !important;
}

.now:hover{
	color: #fff !important;
}

.star {
	display: inline-block;
	color: #eb4f38;
	vertical-align: middle;
	margin-left: 2px;
	font-size: 1.5em;
}

.signup-wrapper {
	width: 100%;
	height: 100%;
	background: url('../images/74833f6egw1f5lnuq65rsj21kw0w07ir.jpg') center;
	background-size: cover;
}

.signup-logo {
	width: 400px;
	padding: 30px;
	margin: 0 auto;
}

.signup-logo img {
	width: 100%;
}

.signup-wrapper .container {
	padding: 10%;
}

.signup-wrapper .signup-content{
	background-color: rgba(255, 255, 255, .8);
}

.signup-box {
	padding: 50px;
}


.signup-form .base-information {
	padding: 10px;
	width: 460px;
	margin: 0 auto;
}

.submit {
	background-color: #61A3E1;
	color: #fff !important;
	border-radius: 8px;
}

.submit {
	display: block;
	margin: 30px auto 0;
	padding: 10px 30px;
}

.signup-form label{
	width: 90px;
	text-align: right;
	margin-right: 5px;
	font-weight: normal;
}

.signup-form .base-information input {
	width: 290px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 1px solid #cecece;
	border-radius: 6px;
}

