<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>管理员-福州大学大学生创业服务网</title>
	<load href="__PUBLIC__/css/bootstrap.min.css" />
	<load href="__PUBLIC__/css/admin.css" />
	<load href="__PUBLIC__/css/reset.css" />
</head>
<body>
	<!-- Admin Start -->
	<div class="admin-wrapper">
		<div class="container">
			<div class="user-box-top">
				<img src="__PUBLIC__/images/setting.png" alt="">
				<h1>管理中心</h1>
			</div>
			<div class="user-student-sidenav user-sidenav pull-left">
				<ul>
					<li class="now">资讯管理</li>
					<li class="user-sidnav-li admin-users">用户管理</li>
					<li class="user-sidnav-li admin-projects">项目管理</li>
					<li>入驻申请</li>
					<li>培训管理</li>
					<li>教材管理</li>
					<li>比赛管理</li>
				</ul>
			</div>