<include file="Public:header"/>
<include file="notice_header"/>

<!-- 资讯管理 -->

	<div class="admin-new-table admin-info-table admin-table block"> <!-- 注意这个block -->
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-news-select-btn" type="checkbox">
				</th>
				<th class="admin-th-article-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-article-title admin-th-title"><span>标题</span></th>
				<th class="admin-th-article-pageview admin-th-pageview"><span>点击量</span></th>
				<th class="admin-th-article-publisher admin-th-publisher" style="width:90px"><span>发布人</span></th>
				<th class="admin-th-article-hot admin-th-hot" style="width:75px"><span>是否热门</span></th>
				<th class="admin-th-article-updatetime admin-th-updatetime"><span>更新时间</span></th>
				<th class="admin-th-article-operation admin-th-operation"><span>管理操作</span></th>
			</tr>
		<empty name="news"> <!-- 要和volist的name一样 -->
			<tr align="center">
				<td colspan="6">
					暂无新闻资讯
				</td>
			</tr>
		<else />
			<volist name="news" id="v">
				<tr>
					<td class="admin-article-select">
						<input id="{$v.nid}" class="admin-news-select-btn admin-select-btn" type="checkbox">
					</td>
					<td class="admin-article-id">{$i}</td>
					<td class="admin-article-title">
						<a href="">{$v.theme}</a>
					</td>
					<td class="admin-article-pageview"><span>{$v.hits}</span></td>
					<td class="admin-article-publisher"><span>{$v.name.name}</span></td>
					<td class="admin-th-article-hot admin-th-hot"><span><if condition="$v.overhead eq 1">是<else />否</if></span></td>
					<td class="admin-article-updatetime"><span>{$v.date}</span></td>
					<td class="admin-article-operation admin-operation">
						<span class="admin-article-modify"><a href="__ROOT__/index.php/home/notice/modify/{$type}/{$v.nid}">修改</a></span>
						<span class="admin-article-delete"><a onclick="javascript: if(confirm('确定删除？')) return true; return false;" href="__ROOT__/index.php/home/notice/deleteOne?nid={$v.nid}">删除</a></span>
					</td>
				</tr>
			</volist>
		</empty>

			<tr>
				<td colspan="2">
					<div class="admin-article-operation admin-operation">
						<span class="admin-article-delete delete-all">批量删除</span>
					</div>
				</td>
			</tr>
		</table>
	</div>

<include file="notice_footer"/>
<include file="Public:footer"/>

<script type="text/javascript">
	var deleteBtn = document.querySelector('.delete-all');
	var idArr;
	deleteBtn.onclick = function() {
		idArr = [];
		var select = document.querySelectorAll('.admin-select-btn');
		select = [].slice.call(select);
		select.forEach(function (elem) {
			console.log(elem);
			console.log(elem.checked);
			if(elem.checked) {
				idArr.push(elem.id);
			}
		})
		// console.log(nidArr);
		$.ajax({
			url: "./discard",
			type: 'POST',
			data: {idArr:idArr},
			dataType: 'json',
			async:false,
			success:function(result) {
				alert(result.msg);
				window.location.reload();
			}
		})
	}
</script>