<!-- 分页 -->
	<div class="pull-right">
		<ul class="pagination">
			<if condition="$curPage neq 1 ">
				<li><a href="__ROOT__/index.php/home/notice/{$now}/1">首页</a></li>
				<li><a href="__ROOT__/index.php/home/notice/{$now}/{$curPage-1}">上一页</a></li>
			</if>
			
			<if condition="($curPage gt 3) AND ($curPage lt $totalPage-2)">
				<for start="$curPage-2" end="$curPage+3">
					<li><a <?php if($i==$curPage) echo "class='now'"; ?> href="__ROOT__/index.php/home/notice/{$now}/{$i}" >{$i}</a></li>
				</for>
			<elseif condition="($curPage gt $totalPage-3) AND ($totalPage gt 5)" />
				<for start="$totalPage-5" end="$totalPage">
					<li><a <?php if($i==$curPage) echo "class='now'"; ?> href="__ROOT__/index.php/home/notice/{$now}/{$i}" >{$i}</a></li>
				</for>
			<elseif condition="$totalPage gt 5" />
				<for start="1" end="6">
					<li><a <?php if($i==$curPage) echo "class='now'"; ?> href="__ROOT__/index.php/home/notice/{$now}/{$i}" >{$i}</a></li>
				</for>
			<else />
				<for start="1" end="$totalPage">
					<li><a <?php if($i==$curPage) echo "class='now'"; ?> href="__ROOT__/index.php/home/notice/{$now}/{$i}" >{$i}</a></li>
				</for>
			</if>
				
			<if condition="$curPage lt $totalPage-1">
				<li><a href="__ROOT__/index.php/home/notice/{$now}/{$curPage+1}">下一页</a></li>
				<li><a href="__ROOT__/index.php/home/notice/{$now}/{$totalPage-1}">末页</a></li>
			</if>

			<li><a href="">共 {$total} 条记录</a></li>
		</ul>
	</div>
</div>