<include file="Public:header"/>
<!-- 发布表格 -->
<div class="user-box block">
	<form action="__ROOT__/index.php/home/competition/publish/do" method="post" class="publish-form form-horizontal">
		<h2 align="center" style="margin: 0 0 20px 0; color: #61a3e1;">比赛通知发布</h2>
	 	<table class="publish-table">
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>标题：</h4>
				<td><input class="title-input form-control" name="name" type="text"></td>
			</tr>
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>报名链接：</h4></td>
				<td><input class="title-input form-control" name="url" type="text"></td>
			</tr>
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>内容：</h4></td>
				<td><script id="_container" name="description" type="text/plain" style="width: 100%; height:300px; margin-left: －10px">
					（这里填写比赛通知内容）
				</script>
				</td>
			</tr>
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>届数：</h4></td>
				<td><input class="title-input form-control" name="times" type="text" style="width:50px"></td>
			</tr>
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>截止时间：</h4></td>
				<td>
					<!-- 日期插件 -->
					<div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="deadline" data-link-format="yyyy-mm-dd">
	                    <input  class="form-control" size="16" type="text" placeholder="点击选择日期" value="" readonly>
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                </div>
	                <input type="hidden" id="deadline" name="deadline" value="" ><br/>
	                <!-- 日期插件结束 -->
				</td>
			</tr>
			<tr>
				<td><h4 class="line-title text-right"><span class="star">*</span>发布时间：</h4></td>
				<td>
					<!-- 日期插件 -->
					<div class="input-group date form_date col-md-4" data-date="" data-date-format="yyyy-mm-dd" data-link-field="issue_time" data-link-format="yyyy-mm-dd">
	                    <input  class="form-control" size="16" type="text" placeholder="点击选择日期" value="" readonly>
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	                </div>
	                <input type="hidden" id="issue_time" name="issue_time" value="" ><br/>
	                <!-- 日期插件结束 -->
				</td>
			</tr>
			<tr>
				<td></td>
				<td><button class="btn btn-publish">发布</button></td>
			</tr>
	 	</table>
	</form>
</div>

<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
	        var ue = UE.getEditor('_container');
</script>
<include file="Public:footer"/>