<include file="Public:header"/>
<!-- 比赛管理 -->
<div class="user-box admin-games-management pull-right">
	<div class="admin-top">
		<a class="admin-publish-game" href="__ROOT__/index.php/home/competition/publish">发布比赛通知</a>
	</div>

	<div class="admin-new-table admin-info-table admin-table block">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-news-select-btn" type="checkbox">
				</th>
				<th class="admin-th-article-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-article-title admin-th-title"><span>标题</span></th>
				<th class="admin-th-article-times admin-th-times"><span>届数</span></th>
				<th class="admin-th-article-publishtime admin-th-publishtime"><span>发布时间</span></th>
				<th class="admin-th-article-deadline admin-th-deadline"><span>截止时间</span></th>
				<th class="admin-th-article-operation admin-th-operation"><span>管理操作</span></th>
			</tr>

			<volist name="competition" id="v">
				<tr>
					<td class="admin-article-select">
						<input class="admin-policy-select-btn" type="checkbox">
					</td>
					<td class="admin-article-id">{$i}</td>
					<td class="admin-article-title">
						<a href="article.html">{$v.name}</a>
					</td>
					<td class="admin-article-times"><span>{$v.times}</span></td>
					<td class="admin-article-publishtime"><span>{$v.issue_time}</span></td>
					<td class="admin-article-deadline"><span>{$v.deadline}</span></td>
					<td class="admin-article-operation admin-operation">
						<span class="admin-article-modify"><a href="__ROOT__/index.php/home/competiton/modify?nid={$v.cid}">修改</a></span>
						
					</td>
				</tr>
			</volist>

		</table>

	</div>

</div>
<include file="Public:footer"/>