<include file="Public:header"/>
<!-- 比赛管理 -->
<div class="user-box admin-games-management pull-right">
	<div class="admin-top">
		<a class="admin-publish-game" href="__ROOT__/index.php/home/competition/publish">发布比赛通知</a>
	</div>

	<div class="admin-new-table admin-info-table admin-table block">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-news-select-btn" type="checkbox">
				</th>
				<th class="admin-th-article-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-article-title admin-th-title"><span>标题</span></th>
				<th class="admin-th-article-times admin-th-times"><span>届数</span></th>
				<th class="admin-th-article-publishtime admin-th-publishtime"><span>发布时间</span></th>
				<th class="admin-th-article-deadline admin-th-deadline"><span>截止时间</span></th>
				<th class="admin-th-article-operation admin-th-operation"><span>管理操作</span></th>
			</tr>
		<empty name="competition"> <!-- 要和volist的name一样 -->
			<tr align="center">
				<td colspan="6">
					暂无比赛记录
				</td>
			</tr>
		<else />
			<volist name="competition" id="v">
				<tr>
					<td class="admin-article-select">
						<input class="admin-policy-select-btn" type="checkbox">
					</td>
					<td class="admin-article-id">{$i}</td>
					<td class="admin-article-title">
						<a href="article.html">{$v.name}</a>
					</td>
					<td class="admin-article-times"><span>{$v.times}</span></td>
					<td class="admin-article-publishtime"><span>{$v.issue_time}</span></td>
					<td class="admin-article-deadline"><span>{$v.deadline}</span></td>
					<td class="admin-article-operation admin-operation">
						<span class="admin-article-modify"><a href="__ROOT__/index.php/home/competition/modify?nid={$v.cid}">修改</a></span>
						
					</td>
				</tr>
			</volist>
		</empty>

		</table>

	</div>
	<div id="list" class="pull_right">
		<ul class="pagination">
			<li><a href="__ROOT__/index.php/home/competition/index/1">首页</a></li>
			<li><a href="__ROOT__/index.php/home/competition/index/{$curPage-1}">上一页</a></li>
			<for start="1" end="$totalPage">
				<li><a href="__ROOT__/index.php/home/competition/index/{$i}">{$i}</a></li>
			</for>
			<li><a href="__ROOT__/index.php/home/competition/index/{$curPage+1}">下一页</a></li>
			<li><a href="__ROOT__/index.php/home/competition/index/{$totalPage-1}">末页</a></li>
			<li><a href="">共{$total}项比赛</a></li>
		</ul>
	</div>
</div>
<include file="Public:footer"/>