<include file="Public:header"/>
<!-- 项目管理 -->
<div class="user-box admin-projects-management pull-right">
	<div class="admin-top">
		<ul class="admin-mangement-ul clearfix" id="admin-projects">
			<li class="pull-left now-li">项目审核</li>
			<li class="pull-left">项目信息</li>
		</ul>
	</div>
	<!-- 项目审核 -->
	<div class="admin-projects-table admin-check-projects-table admin-table block" id="projects-check-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-project-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-project-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-project-name admin-th-name"><span>项目名</span></th>
				<th class="admin-th-project-username admin-th-username"><span>负责人</span></th>
				<th class="admin-th-project-time admin-th-time"><span>申请时间</span></th>
				<th class="admin-th-project-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<tr>
				<td class="admin-project-select">
					<input class="admin-project-select-btn" type="checkbox">
				</td>
				<td class="admin-project-id">1</td>
				<td class="admin-project-name">
					<a href="">互联网技术威客兼职预约平台</a>
				</td>
				<td class="admin-project-username"><span>林渊腾</span></td>
				<td class="admin-project-time"><span>2016-07-23</span></td>
				<td class="admin-project-operation admin-operation">
					<span class="admin-project-pass admin-pass">通过</span>
					<span class="admin-project-refuse admin-refuse">拒绝</span>
				</td>
			</tr>
			
		</table>
	</div>
	<!-- 项目信息 -->
	<div class="admin-projects-table admin-check-projects-table admin-table" id="projects-check-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-project-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-project-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-project-name admin-th-name"><span>项目名</span></th>
				<th class="admin-th-project-username admin-th-username"><span>负责人</span></th>
				<th class="admin-th-project-time admin-th-time"><span>申请时间</span></th>
				<th class="admin-th-project-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<tr>
				<td class="admin-project-select">
					<input class="admin-project-select-btn" type="checkbox">
				</td>
				<td class="admin-project-id">1</td>
				<td class="admin-project-name">
					<a href="">互联网技术威客兼职预约平台</a>
				</td>
				<td class="admin-project-username"><span>林渊腾</span></td>
				<td class="admin-project-time"><span>2016-07-23 21:00</span></td>
				<td class="admin-project-operation admin-operation">
					<a href=""><span class="admin-view-info">查看信息</span></a>	
				</td>
			</tr>
			
		</table>
	</div>
</div>
<include file="Public:footer"/>