<include file="Public:header"/>
<include file="project_header"/>
	<!-- 项目审核 -->
	<div class="admin-projects-table admin-check-projects-table admin-table block" id="projects-check-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-project-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-project-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-project-name admin-th-name"><span>项目名</span></th>
				<th class="admin-th-project-username admin-th-username"><span>负责人</span></th>
				<th class="admin-th-project-time admin-th-time"><span>申请时间</span></th>
				<th class="admin-th-project-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<empty name="projects">
				<tr align="center">
					<td colspan="6">
						暂无待审核的项目信息
					</td>
				</tr>
			<else />
				<volist name="projects" id="v">
					<if condition="$v.status eq 0">
						<tr>
							<td class="admin-project-select">
								<input class="admin-project-select-btn" type="checkbox">
							</td>
							<td class="admin-project-id">{$v.pid}</td>
							<td class="admin-project-name">
								<a href="">{$v.name}</a>
							</td>
							<td class="admin-project-username"><span>{$v.charge.name}</span></td>
							<td class="admin-project-time"><span>{$v.issue_time}</span></td>
							<td class="admin-project-operation admin-operation">
								<span class="admin-project-pass admin-pass"><a href="__ROOT__/index.php/home/project/pass?pid={$v.pid}">通过</a></span>
								<span class="admin-project-refuse admin-refuse" id="{$v.charge.tel}" onclick="refuse(this)">拒绝</span>
							</td>
						</tr>
					</if>
				</volist>
			</empty>
		</table>
	</div>

<include file="project_footer"/>
<include file="Public:footer"/>