<!-- 基地管理 -->
<div class="user-box admin-projects-management sub-management pull-right">
	<div class="admin-top admin-projects-management">
		<ul class="admin-management-ul clearfix" id="admin-projects">
			<li class="pull-left <?php if($now == 'index' ) echo 'now-li';?>"><a href="__ROOT__/index.php/home/field/index">入驻审核</a></li>
			<li class="pull-left <?php if($now == 'field_list' ) echo 'now-li';?>"><a href="__ROOT__/index.php/home/field/field_list">基地信息</a></li>
		</ul>
		<a class="admin-publish-article" href="__ROOT__/index.php/home/field/publish">添加基地</a>
	</div>


