<include file="Public:header"/>
<!-- 用户管理 -->
<div class="user-box admin-users-management pull-right">
	<div class="admin-top">
		<ul class="admin-mangement-ul clearfix" id="admin-users">
			<li class="pull-left now-li">教师审核</li>
			<li class="pull-left">教师信息</li>
			<li class="pull-left">投资人审核</li>
			<li class="pull-left">投资人信息</li>
			<li class="pull-left">学生信息</li>
			<li class="pull-left">管理员信息</li>
		</ul>
	</div>
	<include file="teacher"/>
	<include file="investor"/>
	<include file="student"/>
	<include file="admin"/>	
</div>
<include file="Public:footer"/>
