<include file="Public:header"/>

<!-- 用户管理 -->
<div class="user-box admin-users-management sub-management pull-right">
	<div class="admin-top admin-users-management">
		<ul class="admin-management-ul clearfix" id="admin-users">
			<li class="pull-left now-li">教师审核</li>
			<li class="pull-left">投资人审核</li>
			<li class="pull-left">教师信息</li>
			<li class="pull-left">投资人信息</li>
			<li class="pull-left">学生信息</li>
			<li class="pull-left">管理员信息</li>
		</ul>
	</div>
	<!-- 教师审核 -->
	<div class="admin-teachers-table admin-users-table admin-table block" id="teachers-check-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-teacher-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-teacher-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-teacher-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-teacher-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-teacher-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-teacher-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-teacher-management admin-th-management"><span>管理操作</span></th>
			</tr>

			<volist name="teachers" id="vo" empty="暂无要审核的教师信息">
				<if condition=" $vo.status eq 0">
					<tr>
						<td class="admin-teacher-select">
							<input class="admin-teacher-select-btn" type="checkbox">
						</td>
						<td class="admin-teacher-id">{$i}</td>
						<td class="admin-teacher-username">
							<a href="">{$vo.username}</a>
						</td>
						<td class="admin-teacher-name"><a href="">{$vo.name}</a></td>
						<td class="admin-teacher-phone"><span>{$vo.tel}</span></td>
						<td class="admin-teacher-email"><span>{$vo.email}</span></td>
						<td class="admin-teacher-operation admin-operation">
							<span class="admin-teacher-pass admin-pass"><a href="__ROOT__/index.php/home/user/pass?uid={$vo.uid}">通过</a></span>
							<span class="admin-teacher-refuse admin-refuse" id="{$vo.tel}" onclick="refuse(this)">拒绝</span>
						</td>
					</tr>
				</if>
			</volist>
		</table>
	</div>
	<!-- 投资人审核 -->
	<div class="admin-investors-table admin-users-table admin-table" id="investors-check-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-investor-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-investor-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-investor-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-investor-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-investor-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-investor-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-investor-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<volist name="investors" id="v" empty="暂无待审核的投资人信息">
				<if condition="$v.status eq 0">
					<tr>
						<td class="admin-teacher-select">
							<input class="admin-teachers-select-btn" type="checkbox">
						</td>
						<td class="admin-teacher-id">{$i}</td>
						<td class="admin-teacher-username">
							<a href="">{$v.username}</a>
						</td>
						<td class="admin-teacher-name"><span>{$v.name}</span></td>
						<td class="admin-teacher-phone"><span>{$v.tel}</span></td>
						<td class="admin-teacher-email"><span>{$v.email}</span></td>
						<td class="admin-teacher-operation admin-operation">
							<span class="admin-teacher-pass admin-pass"><a href="__ROOT__/index.php/home/user/pass?uid={$v.uid}">通过</a></span>
							<span class="admin-teacher-refuse admin-refuse" id="{$v.tel}" onclick="refuse(this)">拒绝</span>
						</td>
					</tr>
				</if>
			</volist>

			
		</table>
	</div>
	<!-- 教师信息 -->
	<div class="admin-teachers-box admin-users-table admin-table" id="teachers-info-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-investors-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-investor-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-investor-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-investor-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-investor-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-investor-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-investor-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<volist name="teachers" id="v">
				<if condition=" $v.status eq 1">
					<tr>
						<td class="admin-investor-select">
							<input class="admin-investors-select-btn" type="checkbox">
						</td>
						<td class="admin-investor-id">{$i}</td>
						<td class="admin-investor-username">
							<span>{$v.username}</span>
						</td>
						<td class="admin-investor-name"><a href="">{$v.name}</a></td>
						<td class="admin-investor-phone"><span>{$v.tel}</span></td>
						<td class="admin-investor-email"><span>{$v.email}</span></td>
						<td class="admin-investor-operation admin-operation">
							<a href="__ROOT__/index.php/home/user/detail?uid={$v.uid}"><span class="admin-view-info">查看信息</span></a>
						</td>
					</tr>
				</if>
			</volist>
			
		</table>
	</div>
	<!-- 投资人信息 -->
	<div class="admin-investors-box admin-users-table admin-table" id="investors-info-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-investors-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-investor-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-investor-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-investor-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-investor-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-investor-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-investor-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<volist name="investors" id="v" empty="暂无投资人信息">
				<if condition="$v.status eq 1">
					<tr>
						<td class="admin-teacher-select">
							<input class="admin-teachers-select-btn" type="checkbox">
						</td>
						<td class="admin-teacher-id">{$i}</td>
						<td class="admin-teacher-username">
							<a href="">{$v.username}</a>
						</td>
						<td class="admin-teacher-name"><span>{$v.name}</span></td>
						<td class="admin-teacher-phone"><span>{$v.tel}</span></td>
						<td class="admin-teacher-email"><span>{$v.email}</span></td>
						<td class="admin-teacher-operation admin-operation">
							<a href="__ROOT__/index.php/home/user/detail?uid={$v.uid}"><span class="admin-view-info">查看信息</span></a>
						</td>
					</tr>
				</if>
			</volist>
			
		</table>
	</div>
	<!-- 学生信息 -->
	<div class="admin-students-table admin-users-table admin-table" id="students-info-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-investors-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-investor-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-investor-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-investor-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-investor-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-investor-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-investor-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<volist name="students" id="v" empty="暂无学生信息">
					<tr>
						<td class="admin-teacher-select">
							<input class="admin-teachers-select-btn" type="checkbox">
						</td>
						<td class="admin-teacher-id">{$i}</td>
						<td class="admin-teacher-username">
							<a href="">{$v.username}</a>
						</td>
						<td class="admin-teacher-name"><span>{$v.name}</span></td>
						<td class="admin-teacher-phone"><span>{$v.tel}</span></td>
						<td class="admin-teacher-email"><span>{$v.email}</span></td>
						<td class="admin-teacher-operation admin-operation">
							<a href="__ROOT__/index.php/home/user/detail?uid={$v.uid}"><span class="admin-view-info">查看信息</span></a>
						</td>
					</tr>
			</volist>
			
		</table>
	</div>
	<!-- 管理员信息 -->
	<div class="admin-administrators-table admin-users-table admin-table" id="administrators-info-table">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-administrators-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-administrator-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-administrator-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-administrator-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-administrator-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-administrator-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-administrator-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<volist name="admins" id="v" empty="暂无普通管理员信息">
					<tr>
						<td class="admin-teacher-select">
							<input class="admin-teachers-select-btn" type="checkbox">
						</td>
						<td class="admin-teacher-id">{$i+1}</td>
						<td class="admin-teacher-username">
							<a href="">{$v.username}</a>
						</td>
						<td class="admin-teacher-name"><span>{$v.name}</span></td>
						<td class="admin-teacher-phone"><span>{$v.tel}</span></td>
						<td class="admin-teacher-email"><span>{$v.email}</span></td>
						<td class="admin-teacher-operation admin-operation">
							<a href="__ROOT__/index.php/home/user/detail?uid={$v.uid}"><span class="admin-view-info">查看信息</span></a>
						</td>
					</tr>
			</volist>
							
		</table>
	</div>

</div>
	
<include file="Public:footer"/>
