<!-- 培训管理 -->
<div class="user-box admin-classes-management pull-right">
	<div class="admin-top">
			<div class="admin-top admin-projects-management">
				<ul class="admin-management-ul clearfix" id="admin-projects">
					<li class="pull-left <?php if($now == 'index' ) echo 'now-li';?>"><a href="__ROOT__/index.php/home/class/index">待审核报名</a></li>
					<li class="pull-left <?php if($now == 'class_list' ) echo 'now-li';?>"><a href="__ROOT__/index.php/home/class/class_list">培训课程</a></li>
				</ul>
			</div>
		<a class="admin-publish-classes" href="__ROOT__/index.php/home/class/publish">发布培训课</a>
	</div>