<include file="Public:header"/>
<!-- 培训管理 -->
<div class="user-box admin-classes-management pull-right">
	<div class="admin-top">
			<a class="admin-publish-classes" href="">发布培训课</a>
		</div>
	<div class="admin-classes-table admin-table block">
		<table>
			<tr>
				<th class="admin-th-select">
					<input class="admin-students-select-btn" type="checkbox"> 全选
				</th>
				<th class="admin-th-student-id admin-th-id"><span>ID</span></th>
				<th class="admin-th-student-username admin-th-username"><span>用户名</span></th>
				<th class="admin-th-student-name admin-th-name"><span>姓名</span></th>
				<th class="admin-th-student-phone admin-th-phone"><span>手机号</span></th>
				<th class="admin-th-student-email admin-th-email"><span>邮箱</span></th>
				<th class="admin-th-student-management admin-th-management"><span>管理操作</span></th>
			</tr>
			<tr>
				<td class="admin-student-select">
					<input class="admin-students-select-btn" type="checkbox">
				</td>
				<td class="admin-student-id">1</td>
				<td class="admin-student-username">
					<a href="">joipouqew</a>
				</td>
				<td class="admin-student-name"><a href="">qewrqew</a></td>
				<td class="admin-student-phone"><span>18476931485</span></td>
				<td class="admin-student-email"><span>jasduiu@163.com</span></td>
				<td class="admin-student-operation admin-operation">
					<span class="admin-project-pass admin-pass">通过</span>
					<span class="admin-project-refuse admin-refuse">拒绝</span>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<include file="Public:footer"/>